
.uk a{
    display: inline-block;
    text-align: center;
    width: 32%;
    min-height: 94px;
    margin-top: 6px;
}
.uk a img{
    display: block;
    width: 62px;
    height: 62px;
    margin: 0 auto;
    border: 0;
}
